@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter";
}

input, select, textarea {
    height: 39px;
    padding: 10px;
    font-size: 12px;   
    display: flex; 
    width: 100%;
    margin-top: 8px;
}

/* .form--btn{
    background: #f17623;
}

.form--btn:hover{
    background: #d96a1f;
    transition: 0.3s;
} */

p {
    font-size: 8px;
    margin: 0px;
    padding: 0px;
}

input[type="file"]::file-selector-button{
    border-radius: 16px;
    border: none;
    background: #7D7D7D;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
input[type=file]{
 color:transparent;
}

select {
    padding-right: 5px;
}

.custom-grid-width {
  max-width: 1116px;
  margin-left: auto;
  margin-right: auto;
}
